<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Система бронирования мест на парковке</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container_main">
    <div class="author-container">
        <h1>Об авторе</h1>
        <img class="author-image" src="/images/Elizaveta_Plavinskaya.jpg">
        <div class="author-info">
            <p><strong>Елизавета Евгеньевна Плавинская</strong></p>
            <p>Краткая информация о себе:</p>
            <p>я студентка группы ДПИ22-2 3 курса Финансового университета при правительстве РФ.
                Учусь на направлении "Прикладная информатике".
                В своем курсовом проекте по разработке веб-приложения на языке программирования Java я использовала такие технологии как фреймворк Spring Boot, JPA(Hibernate),
                шаблонизатор Thymeleaf, Spring Security для авторизации,
                реляционную базу данных PostgreSQL, HTML, CSS, JavaScript.</p>
            <p>Дата старта работы над проектом: 30 ноября 2024</p>
            <p>Дата защиты проекта: 7 марта 2025</p>
            <p>Контакты:</p>
            <ul class="contact-list">
                <li>Email: <a href="mailto:222577@edu.fa.ru">222577@edu.fa.ru</a></li>
                <li>GitHub: <a href="https://github.com/Lisabessa">github.com/Lisabessa</a></li>
            </ul>
            <a th:href="@{'/'}"><button type="button" class="button2">Назад</button></a>
        </div>
    </div>
</div>


</body>
</html>