<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Форма для создания</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <form th:object="${entity}" method="post" id="entityForm">
        <table class="table_fields">

            <tr th:if="${entity instanceof T(com.example.parkingspace.User) && option == 'edit'}">
                <td>ID пользователя:</td>
                <td>
                    <input type="text" th:field="*{id}"  readonly="readonly" id="idUser">
                    <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Ошибка</span>
                </td>
            </tr>
            <tr th:if="${entity instanceof T(com.example.parkingspace.User)}">
                <td>Регистрационный номер автомобиля:</td>
                <td>
                    <input type="text" th:field="*{vehicleRegistrationNumber}" id="vehicleRegistrationNumber">
                    <span th:if="${#fields.hasErrors('vehicleRegistrationNumber')}" th:errors="*{vehicleRegistrationNumber}">Ошибка</span>
              </td>
            </tr>
            <tr th:if="${entity instanceof T(com.example.parkingspace.User)}">
                <td>Марка автомобиля:</td>
                <td>
                    <input type="text" th:field="*{vehicleModel}" id="vehicleModel">
                </td>
            </tr>
            <tr th:if="${entity instanceof T(com.example.parkingspace.User)}">
                <td>Цвет автомобиля:</td>
                <td>
                    <input type="text" th:field="*{vehicleColor}" id="vehicleColor">
                </td>
            </tr>
            <tr th:if="${entity instanceof T(com.example.parkingspace.User)}">
                <td>Имя:</td>
                <td>
                    <input type="text" th:field="*{firstName}" id="firstName">
                    <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Ошибка</span>
                </td>
            </tr>
            <tr th:if="${entity instanceof T(com.example.parkingspace.User)}">
                <td>Фамилия:</td>
                <td>
                    <input type="text" th:field="*{lastName}" id="lastName">
                    <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Ошибка</span>
                </td>
            </tr>
            <tr th:if="${entity instanceof T(com.example.parkingspace.User)}">
                <td>Номер телефона:</td>
                <td>
                    <input type="text" th:field="*{phoneNumber}" id="phoneNumber">
                    <span th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}">Ошибка</span>
                </td>
            </tr>



            <tr th:if="${entity instanceof T(com.example.parkingspace.ParkingSlot) && option == 'edit'}">
                <td>ID слота:</td>
                <td>
                    <input type="text" th:field="*{id}" readonly="readonly" id="idParkingSlot">
                    <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Ошибка</span>
                </td>
            </tr>
            <tr th:if="${entity instanceof T(com.example.parkingspace.ParkingSlot)}">
                <td>Код слота:</td>
                <td>
                  <input type="text" th:field="*{slotCode}" id="slotCode">
                  <span th:if="${#fields.hasErrors('slotCode')}" th:errors="*{slotCode}">Ошибка</span>
                </td>
            </tr>
            <tr th:if="${entity instanceof T(com.example.parkingspace.ParkingSlot)}">
                <td>Слот свободен:</td>
                <td>
                  <input type="text" th:field="*{isAvailable}" id="isAvailable">
                </td>
            </tr>


            <tr th:if="${entity instanceof T(com.example.parkingspace.Reservation) && option == 'edit'}">
                <td>ID бронирования:</td>
                <td>
                    <input type="text" th:field="*{id}" readonly="readonly" id="idReservation">
                    <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}">Ошибка</span>
                </td>
            </tr>
            <tr th:if="${entity instanceof T(com.example.parkingspace.Reservation)}">
                <td>Время начала бронирования:</td>
                <td>
                    <input type="datetime-local" th:field="*{startTime}" id="startTime">
                    <span th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}">Ошибка</span>
                </td>
            </tr>
            <tr th:if="${entity instanceof T(com.example.parkingspace.Reservation)}">
                <td>Время окончания бронирования:</td>
                <td>
                    <input type="datetime-local" th:value="*{endTime}" th:field="*{endTime}" id="endTime">
                    <span th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}">Ошибка</span>
                </td>
            </tr>
            <tr th:if="${entity instanceof T(com.example.parkingspace.Reservation)}">
                <td>ID пользователя:</td>
                <td>
                    <input type="text" th:field="*{user.id}" id="userId">
                </td>
            </tr>
            <tr th:if="${entity instanceof T(com.example.parkingspace.Reservation)}">
                <td>ID парковочного слота:</td>
                <td>
                    <input type="text" th:field="*{parkingSlot.id}" id="parkingSlotId">
                </td>
            </tr>
            <tr th:if="${entity instanceof T(com.example.parkingspace.Reservation)}">
                <td>Статус:</td>
                <td>
                    <input type="text" th:field="*{status}" id="status">
                </td>
            </tr>
            <tr th:if="${entity instanceof T(com.example.parkingspace.Reservation)}">
                <td>Стоимость парковки:</td>
                <td>
                    <input type="text" th:field="*{price}" id="price">
                </td>
            </tr>


            <tr>
              <td>
                  <button th:if="${option == 'create'}" type="submit" class="green-btn" data-tooggle="button" aria-pressed="false" autocomplete="off">Сохранить</button>
                  <button th:if="${option == 'edit'}" type="submit" class="green-btn" data-tooggle="button" aria-pressed="false" autocomplete="off">Изменить данные</button>
              </td>
            </tr>
        </table>

    </form>
</body>
</html>