<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Форма для создания</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <form th:object="${entity}" method="post" id="entityForm">
        <table class="table_fields">

            <tr th:if="${entityType == 'Role' && option == 'edit'}">
                <td>ID роли:</td>
                <td>
                    <input type="text" th:field="*{id}"  readonly="readonly" id="idRole">
                </td>
            </tr>
            <tr th:if="${entityType == 'Role'}">
                <td>Роль:</td>
                <td>
                    <input type="text" th:field="*{role}" id="role">
                </td>
            </tr>
            <tr th:if="${entityType == 'Role'}">
                <td>Код роли:</td>
                <td>
                    <input type="text" th:field="*{code}" id="code">
                </td>
            </tr>


            <tr th:if="${entityType == 'User' && option == 'edit'}">
                <td>ID пользователя:</td>
                <td>
                    <input type="text" th:field="*{id}" readonly="readonly" id="idUser">
                </td>
            </tr>
            <tr th:if="${entityType == 'User'}">
                <td>Имя:</td>
                <td>
                    <input type="text" th:field="*{firstName}" id="firstName">
                </td>
            </tr>
            <tr th:if="${entityType == 'User'}">
                <td>Фамилия:</td>
                <td>
                    <input type="text" th:field="*{lastName}" id="lastName">
                </td>
            </tr>
            <tr th:if="${entityType == 'User'}">
                <td>Номер телефона:</td>
                <td>
                    <input type="text" th:field="*{phoneNumber}" id="phoneNumber">
                </td>
            </tr>
            <tr th:if="${entityType == 'User'}">
                <td>ID роли</td>
                <td>
                    <input type="text" readonly="readonly" th:field="*{role.id}" id="roleId">
                </td>
            </tr>
            <tr th:if="${entityType == 'User'}">
                <td>Логин</td>
                <td>
                    <input type="text" th:field="*{login}" id="login">
                </td>
            </tr>
            <tr th:if="${entityType == 'User'}">
                <td>Пароль</td>
                <td>
                    <input type="text" id="password">
                </td>
            </tr>


            <tr th:if="${entityType == 'Vehicle' && option == 'edit'}">
                <td>ID ТС:</td>
                <td>
                    <input type="text" th:field="*{id}"  readonly="readonly" id="idVehicle">
                </td>
            </tr>
            <tr th:if="${entityType == 'Vehicle'}">
                <td>Регистрационный номер автомобиля:</td>
                <td>
                    <input type="text" th:field="*{vehicleRegistrationNumber}" id="vehicleRegistrationNumber">
                </td>
            </tr>
            <tr th:if="${entityType == 'Vehicle'}">
                <td>Марка автомобиля:</td>
                <td>
                    <input type="text" th:field="*{vehicleModel}" id="vehicleModel">
                </td>
            </tr>
            <tr th:if="${entityType == 'Vehicle'}">
                <td>Цвет автомобиля:</td>
                <td>
                    <input type="text" th:field="*{vehicleColor}" id="vehicleColor">
                </td>
            </tr>
            <tr th:if="${entityType == 'Vehicle'}">
                <td>ID владельца:</td>
                <td>
                    <input type="text" th:field="*{user.id}" id="userId">
                </td>
            </tr>


            <tr th:if="${entityType == 'ParkingSlot' && option == 'edit'}">
                <td>ID слота:</td>
                <td>
                    <input type="text" th:field="*{id}" readonly="readonly" id="idParkingSlot">
                </td>
            </tr>
            <tr th:if="${entityType == 'ParkingSlot'}">
                <td>Код слота:</td>
                <td>
                  <input type="text" th:field="*{slotCode}" id="slotCode">
                </td>
            </tr>
            <tr th:if="${entityType == 'ParkingSlot'}">
                <td>Слот свободен:</td>
                <td>
                  <input type="text" th:field="*{isAvailable}" id="isAvailable">
                </td>
            </tr>


            <tr th:if="${entityType == 'Reservation' && option == 'edit'}">
                <td>ID бронирования:</td>
                <td>
                    <input type="text" th:field="*{id}" readonly="readonly" id="idReservation">
                </td>
            </tr>
            <tr th:if="${entityType == 'Reservation'}">
                <td>Время начала бронирования:</td>
                <td>
                    <input type="datetime-local" th:field="*{startTime}" id="startTime">
                </td>
            </tr>
            <tr th:if="${entityType == 'Reservation'}">
                <td>Время окончания бронирования:</td>
                <td>
                    <input type="datetime-local" th:value="*{endTime}" th:field="*{endTime}" id="endTime">
                </td>
            </tr>
            <tr th:if="${entityType == 'Reservation'}">
                <td th:if="${#authorization.expression('hasRole(''ADMIN'')')}">ID ТС:</td>
                <td>
                    <input th:if="${#authorization.expression('hasRole(''ADMIN'')')}" type="text" th:field="*{vehicle.id}" id="vehicleId">
                    <input th:if="${#authorization.expression('hasRole(''CLIENT'')')}" type="hidden" th:field="*{vehicle.id}" id="vehicleId" >
                </td>
            </tr>
            <tr th:if="${entityType == 'Reservation'}">
                <td>ID парковочного слота:</td>
                <td>
                    <input type="text" th:field="*{parkingSlot.id}" id="parkingSlotId">
                </td>
            </tr>
            <tr th:if="${entityType == 'Reservation'}">
                <td>Статус:</td>
                <td>
                    <input type="text" th:field="*{status}" id="status">
                </td>
            </tr>
            <tr th:if="${entityType == 'Reservation'}">
                <td>Стоимость парковки:</td>
                <td>
                    <input type="text" th:field="*{price}" id="price">
                </td>
            </tr>


            <tr>
              <td>
                  <button th:if="${option == 'create'}" type="submit" class="green-btn" data-tooggle="button" aria-pressed="false" autocomplete="off">Сохранить</button>
                  <button th:if="${option == 'edit'}" type="submit" class="green-btn" data-tooggle="button" aria-pressed="false" autocomplete="off">Изменить данные</button>
              </td>
            </tr>
        </table>

    </form>
</body>
</html>