<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Система бронирования мест на парковке</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container_main">
    <div class="container2">
        <h1>Система бронирования мест на парковке</h1>
        <div class="buttons-container">
            <a th:href="@{'/aboutAuthor'}"><button type="button" class="button2">Об авторе</button></a>
            <a th:href="@{'/users'}"><button type="button" class="button1">Пользователи</button></a>
            <a th:href="@{'/parkingSlots'}"><button type="button" class="button1">Парковочные места</button></a>
            <a th:href="@{'/reservations'}"><button type="button" class="button1">Бронирования</button></a>
        </div>
    </div>
</div>
</body>
</html>