<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Система бронирования мест на парковке</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container_main">
    <div class="container3">
        <h1>Добавить новое бронирование</h1>

        <form th:action="@{/reservations/createReservation}" th:object="${reservation}" method="post">
            <table class="table_fields">
                <tr>
                    <td>Время начала бронирования:</td>
                    <td>
                        <input type="datetime-local" th:field="*{startTime}">
                        <span th:if="${#fields.hasErrors('startTime')}" th:errors="*{startTime}">Ошибка</span>
                    </td>
                </tr>
                <tr>
                    <td>Время окончания бронирования:</td>
                    <td>
                        <input type="datetime-local" th:field="*{endTime}">
                        <span th:if="${#fields.hasErrors('endTime')}" th:errors="*{endTime}">Ошибка</span>
                    </td>
                </tr>
                <tr>
                    <td>ID пользователя:</td>
                    <td>
                        <input type="text" th:field="*{user.id}">
                    </td>
                </tr>
                <tr>
                    <td>ID парковочного слота:</td>
                    <td>
                        <input type="text" th:field="*{parkingSlot.id}">
                    </td>
                </tr>
                <tr>
                    <td>Статус:</td>
                    <td>
                        <input type="text" th:field="*{status}">
                    </td>
                </tr>
                <tr>
                    <td>Стоимость парковки:</td>
                    <td>
                        <input type="text" th:field="*{price}">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit" class="green-btn" data-tooggle="button" aria-pressed="false" autocomplete="off">Сохранить</button>
                    </td>
                </tr>
            </table>
        </form>
        <a th:href="@{'/reservations'}"><button class="button2">Назад</button></a>
    </div>
</div>

<script>
    $(document).ready(function (){
        $('form').on('submit', function (event){
            event.preventDefault();
            let isValid = true;
            const fields = [
                'startTime',
                'endTime'];

            fields.forEach(field => {
                const inputField = $(`input[name=${field}]`);
                if (!inputField.val()){
                    inputField.removeClass('is-valid');
                }});

            if(isValid) {
                this.submit();
            }
        });
    });
</script>

</body>
</html>