<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Система бронирования мест на парковке</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container_main">
  <div class="container3">
    <h1>Бронирования</h1>
    <table id="1" class="custom-table">
      <thead>
      <tr>
        <th>ID бронирования</th>
        <th>Занятый слот</th>
        <th>Регистрационный номер автомобиля</th>
        <th>Номер телефона пользователя</th>
        <th>Время начала брони</th>
        <th>Время конца брони</th>
        <th>Статус бронирования</th>
        <th>Стоимость услуг</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="reservation: ${listReservations}">
        <th th:text="${reservation.id}">ID бронирования отстутсвует</th>
        <th th:text="${reservation.parkingSlot.slotCode}">Занятый слот отстутсвует</th>
        <th th:text="${reservation.user.vehicleRegistrationNumber}">Регистрационный номер автомобиля отстутсвует</th>
        <th th:text="${reservation.user.phoneNumber}">Номер телефона пользователя отстутсвует</th>
        <th th:text="${reservation.startTime}">Время начала брони </th>
        <th th:text="${reservation.endTime}">Время конца брони отстутсвует</th>
        <th th:text="${reservation.status}">Статус бронирования отстутсвует</th>
        <th th:text="${reservation.price}">Стоимость услуг отстутсвует</th>

        <td>
          <div class="small_buttons-container">
            <a th:href="@{'/reservations/editReservation/'+${reservation.id}}"><button type="button" class="green-btn">Редактировать</button></a>
            <a th:href="@{'/reservations/deleteReservation/'+${reservation.id}}"><button type="button" class="red-btn">Удалить</button></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

    <p>
      <script type="text/javascript">
        function getRowsColumn() {
          let table = document.getElementById('1')
          let tBody = table.querySelector('tbody')
          const count = tBody.querySelectorAll('tr').length;
          document.write('Количество бронирований в таблице: ' + count)
        }

        getRowsColumn()
      </script>
    </p>

    <div class="buttons-container">
      <a href="/reservations/newReservation"><button class="button1" type="button" aria-pressed="false" autocomplete="off">Добавить новое бронирование</button></a>
      <a href="/"><button class="button2" type="button" aria-pressed="false" autocomplete="off">В меню</button></a>
    </div>

  </div>
</div>
</body>
</html>