<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Система бронирования мест на парковке</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container_main">
    <div class="container3">
        <h1>Пользователи системы бронирования мест на парковке</h1>
        <div class="search-container">
            <h4>Поиск пользователя по любому критерию:</h4>
            <form th:action="@{/users}" class="search-form">
                <input type="text" name="keyword" id="keyword"  placeholder="Введите искомое значение" th:value="${keyword}" required/>
                <input type="submit" class="green-btn" value="Поиск"/>
                <input type="button" class="red-btn" value="Очистить" id="btnClear"
                           onclick="clearSearch()"/>

            </form>
        </div>

        <table id="1" class="custom-table">
            <thead>
            <tr>
                <th>ID пользователя</th>
                <th>Регистрационный номер автомобиля</th>
                <th>Модель автомобиля</th>
                <th>Цвет автомобиля</th>
                <th>Имя</th>
                <th>Фамилия</th>
                <th>Номер телефона</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${listUsers}">
                <th th:text="${user.id}">ID пользователя отстутсвует</th>
                <th th:text="${user.vehicleRegistrationNumber}">Регистрационный номер автомобиля отсутствует</th>
                <th th:text="${user.vehicleModel}">Модель автомобиля отсутствует</th>
                <th th:text="${user.vehicleColor}">Цвет прозрачный)))</th>
                <th th:text="${user.firstName}">Имя пользователя отсутствует</th>
                <th th:text="${user.lastName}">Фамилия пользователя отсутствует</th>
                <th th:text="${user.phoneNumber}">Номер телефона отсутствует</th>
                <td>
                    <div class="small_buttons-container">
                        <a th:href="@{'/users/editUser/'+${user.id}}"><button type="button" class="green-btn">Редактировать</button></a>
                        <a th:href="@{'/users/deleteUser/'+${user.id}}"><button type="button" class="red-btn">Удалить</button></a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

        <p>
            <script type="text/javascript">
                function getRowsColumn() {
                    let table = document.getElementById('1')
                    let tBody = table.querySelector('tbody')
                    const count = tBody.querySelectorAll('tr').length;
                    document.write('Количество пользователей в таблице: ' + count)
                }

                getRowsColumn()
            </script>
        </p>

        <div class="buttons-container">
            <a href="/users/newUser"><button class="button1" type="button" aria-pressed="false" autocomplete="off">Добавить нового пользователя</button></a>
            <a href="/"><button class="button2" type="button" aria-pressed="false" autocomplete="off">В меню</button></a>
        </div>

    </div>
</div>

<script type="text/javascript">
    function clearSearch() {
        window.location = "[[@{/users}]]";
    }
</script>
</body>
</html>