body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.table_fields{
    margin: 0 auto;
}

.table_fields input{
    width: 300px;
    padding: 12px 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.small_buttons-container{
    display: flex;
    justify-content: space-between;
    padding: 3px 5px;
    gap: 3px;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 30px;
}

p {
    color: #6a6868;
    font-size: 18px;
    line-height: 1.5;
}

.button1 , .button2 {
    display: inline-block;
    margin: 10px;
    padding: 12px 24px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button1{
    background-color: #808080;
    color: #fff;
}

.button2{
    background-color: #e3dbdb;
    color: #3c3939;
}

.container_main {
    background-image: url('../images/background_parking.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: auto;
}

.container {
    width: 80%;
    max-width: 600px;
    margin: 100px auto 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: white;
}

.container2 {
    width: 90%;
    max-width: 800px;
    margin: 100px auto 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.7);
}

.container3 {
    width: 90%;
    max-width: 1200px;
    margin: 100px auto 0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: rgba(255, 255, 255, 0.7);
}

.search-container {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-container h4 {
    margin-bottom: 20px;
    text-align: center;
    color: #555;
}

.search-form {
    display: flex;
    align-items: center;
    gap: 10px;
}


.search-container input[type="text"] {
    width: 80%;
    padding: 12px 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.green-btn{
    background-color: #4CAF50;
}

.red-btn{
    background-color: #cf102e;
}

.green-btn, .red-btn{
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.red-btn:hover{
    background-color: #7a0214;
}

.green-btn:hover {
    background-color: #45a049;
}

.custom-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.custom-table thead tr {
    background-color: #ddd;
    color: black;
    font-weight: bold;
}

.custom-table td, .custom-table th {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

.diagrams {
    width: 400px;
    height: 400px;
    margin: 20px auto; /* Добавляет отступы */
}

